/********** styles for _MASTER view *********
********************************************/

a {
    text-decoration: none;
    color: #555555;
}

html, body {
    height: 100%;
    min-width: 800px;
    margin: 0;
    background-color: black;
    color: #999999;
    font-family: Helvetica, Arial, sans-serif;
}

#content {
    padding: 0 40px;
    font-size: 1em;
    font-weight: bold;
}

#controls {
    line-height: 50px;
    text-align: center;
    vertical-align: center;
    width: 55%;
    float: left;
}

#footer {
    position: relative;
    margin-top: -100px;
    height: 100px;
    clear: both;
    background-color: #222222;
}

#footerText {
    float: right;
    position: relative;
    top: 60px;
    padding: 0 20px;
    font-size: 0.8em;
}

#header {
    height: 50px;
    background-color: #222222;
}

#logo {
    line-height: 50px;
    padding: 0 20px;
    vertical-align: center;
    float: left;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
}

#nav {
    line-height: 50px;
    padding: 0 20px;
    vertical-align: center;
    float: right;
}

#wrap {
    min-height: 100%;
}



/********** styles for GAME view *********
*****************************************/

#gameSpace {
    width: 960px;
    height: 640px;
    margin: 40px 20px;
    border: 4px double #dddd77;
    background-color: black;
}

#particleCanvas {
    position: absolute;
}

#spriteCanvas {
    position: absolute;
}

#textCanvas {
    position: absolute;
}



/********** styles for LOBBY view **********
*******************************************/

.currentGameSection {
    background-color: #ffff77;
    margin: 25px 50px;
    border-radius: 5px;
    max-width: 800px;
}

.gameButton {
    padding: 5px 20px;
    margin-right: 10px;
    font-size: .9em;
    background-color: white;
}

.gameButtonForm {
    display: inline;
}

.gameControls {
    padding: 10px 10px;
    background-color: #555555;
    text-align: left;
    border-radius: 0 0 5px 5px;
}

.gameInfo {
    padding: 10px;
    overflow: hidden;
}

.gameInterfaceId {
    color: #555555;
    margin-bottom: 10px;
}

.gameSection {
    background-color: #333333;
    margin: 25px 50px;
    border-radius: 5px;
    max-width: 800px;
}

.gameUser {
    font-size: 1.5em;
    color: #999999;
    float: left;
    width: 50%;
}



/********** styles for LOBBY view **********
*******************************************/

.login {
    margin: 40px 40px;
}

.loginHead {
    font-size: 2em;
    margin: 20px 0;
}


/********** styles for RESULTS view *********
*****************************************/

.profile {
    margin: 40px 40px;
}

.profile-username {
    font-size: 3em;
    margin-bottom: 20px;
}

.profile-description {
    color: #666666;
    font-size: 1.5em;
}



/********** styles for RESULTS view *********
*****************************************/

.colorRow td {
    background-color: black;
    padding: 4px;
}

th {
    font-size: 0.5em;
    color: #444444;
    background-color: #191919;
}

td {
    padding: 8px 50px;
}

.results {
    padding: 20px 20px;
    margin: 40px 20px;
}

.results-gameInterfaceId {
    color: #444444;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.resultsTable {
    font-size: 2em;
    text-align:center;
    background-color: #444444;
    border-collapse: collapse;
}

.userCell {
    text-align: left;
}

.victorText {
    color: #ffbb00;
    font-size: 0.5em;
}

.winner {
    background-color: #ffff77;
}